.feed {
  padding: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  scrollbar-width: none;

  > .item {
    background-color: #232332;
    border-radius: 10px;;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
    height: 42px;
    min-height: 42px;
    display: flex;
    align-items: center;

    > .status {
      width: 55px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.status-loading {
        color: #aaa;
      }

      .status-badge {
        background-color: rgb(75, 75, 75);
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        height: 20px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }
    }

    > .url {
      font-size: 14px;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .proxy {
        color: rgba(255, 255, 255, 0.6);
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        margin-right: 5px;
      }

      .pathname {
        font-weight: 600;
      }

      .search {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
