.feed {
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 400px;

  > .items {
    padding: 10px;
    padding-bottom: 110px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;

    > .item {
      background-color: #232332;
      border-radius: 10px;;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
      height: 42px;
      min-height: 42px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-right: 10px;
      transition: all 0.2s;

      &:hover {
        background-color: #2a2a3b;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      }

      &[data-active=true] {
        background-color: #2a2a3b;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
      }

      > .status {
        width: 55px;
        min-width: 55px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.status-loading {
          color: #aaa;
        }

        .status-badge {
          background-color: rgb(75, 75, 75);
          border-radius: 5px;
          font-size: 12px;
          font-weight: 600;
          height: 20px;
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 0;
        }
      }

      > .url {
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(255, 255, 255, 0.5);

        .proxy {
          color: rgba(255, 255, 255, 0.6);
          padding: 2px 4px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          font-size: 12px;
          font-weight: 600;
          margin-right: 5px;
        }

        .pathname {
          font-weight: 500;
          color: rgba(255, 255, 255, 0.87);
        }
      }
    }
  }

  > .detail {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    padding: 15px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    box-sizing: border-box;

    h2 {
      margin: 0;
      font-size: 16px;
      white-space: normal;
      word-break: break-all;

      .search {
        color: rgba(255, 255, 255, 0.5);
          font-weight: 400;
      }
    }

    .badges {
      display: flex;
      gap: 3px;

      > .proxy, > .status .status-badge {
        color: rgba(255, 255, 255, 0.7);
        padding: 2px 4px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        margin-right: 5px;
      }
    }

    .route {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-right: 20px;

      > .item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;

        svg {
          color: #ff917a;
        }

        > div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.5);

          .name {
            font-size: 12px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
          }

          .fullUrl {
            white-space: normal;
            word-break: break-all;
          }

          .snippet {
            background-color: rgba(255, 255, 255, 0.01);
            padding: 10px;
            border-radius: 8px;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
            height: 100px;
          }
        }
      }
    }
  }
}
