.cookies {
  height: 100%;
  width: 100%;
  min-height: 0;
  display: grid;
  padding: 1px;

  > button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ff917a;
    border: none;
    outline: none;
    color: black;
    height: 32px;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    background: rgb(255, 145, 122, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 145, 122, 0.15);
    color: #ff917a;
  }
}
