.cookies {
  height: 100%;
  width: 100dvw;
  min-height: 0;
  display: grid;
  grid-template-columns: 1fr 400px;

  > .items {
    padding: 10px;
    padding-bottom: 110px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;

    > .item {
      background-color: #232332;
      border-radius: 10px;
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
      height: 38px;
      min-height: 38px;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding-right: 8px;
      padding-left: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: #2a2a3b;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
      }

      &[data-active=true] {
        background-color: #2a2a3b;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
      }

      .checkbox {
        margin-right: 10px;
      }
    }
  }
}

.cell-input {
  height: 32px;
  border-radius: 5px;
  transition: all 0.2s;

  &:focus-within {
    background: rgb(255, 145, 122, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 145, 122, 0.15);
  }

  input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;

    &:focus-visible {
      outline: none;
    }
  }
}
