.checkbox {
  height: 24px;
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
  gap: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.2s;

  > svg {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    scale: 0;
  }

  &[data-active=true] {
    background: rgb(255, 145, 122, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 145, 122, 0.15);

    > svg {
      color: #ff917a;
      scale: 1;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px rgba(255, 145, 122, 0.25);
      background: rgba(255, 145, 122, 0.15);
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
  }
}