.cache {
  height: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns: 350px 1fr;

  > nav {
    background-color: rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
  }

  > .editor {
    display: grid;
    grid-template-rows: 40px 1fr;

    header {
      display: flex;
      align-items: center;
      padding-left: 15px;
      gap: 10px;
      font-size: 14px;

      > .method-badge {
        background-color: rgb(75, 75, 75);
        border-radius: 5px;
        font-size: 12px;
        font-weight: 600;
        height: 20px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
      }
    }
  }
}
