.table {
  height: 100%;
  width: 100%;
  min-height: 0;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-x: auto;
  overflow-y: auto;

  > header {
    display: flex;
    height: 45px;
    background-color: rgba(25, 26, 34);
    color: #ccc;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    // position: sticky;
    // top: 0;
    // z-index: 1;

    > .group {
      display: flex;

      &[data-group=start] {
        position: sticky;
        left: 0;
        background-color: rgba(25, 26, 34);
      }

      &[data-group=end] {
        position: sticky;
        right: 0;
        background-color: rgba(25, 26, 34);
      }

      > div {
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
  }

  > .items {
    width: 100%;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    // overflow: auto;
    // height: 100%;
    box-sizing: border-box;
    justify-content: flex-start;

    > .item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      height: 45px;
      min-height: 45px;
      display: flex;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        background-color: rgb(255, 255, 255, 0.03);
      }

      .checkbox {
        margin-right: 10px;
      }

      > .group {
        display: flex;

        &[data-group=start] {
          position: sticky;
          left: 0;
          background-color: rgba(25, 26, 34);
        }

        &[data-group=end] {
          position: sticky;
          right: 0;
          background-color: rgba(25, 26, 34);
        }
      }
    }
  }
}

.cell-input {
  height: 45px;
  // border-radius: 5px;
  transition: all 0.2s;

  &:focus-within {
    background: rgb(255, 145, 122, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 145, 122, 0.15);
  }

  input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 14px;

    &:focus-visible {
      outline: none;
    }
  }
}
