body {
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: 48px 1fr;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  background: #1a1c24;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}

#root > main {
  display: grid;
  /* gap: 5px; */
  grid-template-columns: 250px 1fr 400px;
}

#root > main > section {
  /* background-color: #262636; */
  /* border-radius: 5px; */
  padding: 10px;
  /* box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
